.nav-top,
.nav-bottom,
.s-slider,
.s-advertisement,
.s-vacancy{
  width: 100%;
  & .container {
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

}

.s-advertisement{
  margin-top: 1.875rem;

  @include media-breakpoint-down(lg) {
    margin-top: 2.625rem;
  }
}