.form-wrap{
  .form-row{
    margin:{
      left: -15px;
      right: -15px;
    }
  }
  .form-row > .col, .form-row > [class*="col-"]{
    padding:{
      left: 15px;
      right: 15px;
    }
  }
}

.form-control-custom{
  border: none;
  border-radius: 5px;
  background-color: #EEEFF1;
}
.form-label{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 1rem;
  };
}