.form-wrap{
  .form-row{
    margin:{
      left: -15px;
      right: -15px;
    }
  }
  .form-row > .col, .form-row > [class*="col-"]{
    padding:{
      left: 15px;
      right: 15px;
    }
  }
}
.required-label{
  position: relative;
  &::after{
    content: '';
    background: {
      image: url('../../assets/img/icons/required-star.svg');
      repeat: no-repeat;
      size: cover;
    }
    display: block;
    height: 100%;
    width: .5rem;
    position: absolute;
    right: -10px;
    top: -5px;
  }
}

.form-control-custom{
  background-color: #EEEFF1;
  border: none;
  border-radius: 5px;
  padding: 0.69rem 0.75rem;
  margin: 2px 0;
}
.form-label{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 1rem;
  };
}

.from-row-m{
  margin-top: 2.25rem;
}
.login-form{
  .from-row-m{
    margin-top: 2rem;
  }
  .order-btn{
    padding: 0.5rem 1.9rem 0.7rem;
  }
}