.s-checkout-step{
  background-color: white;
  padding: 1.7rem 2.25rem 3.25rem 2.25rem;
  margin-bottom: 16.125rem;
  position: relative;

  @include media-breakpoint-down(xs){
    margin-bottom: 8rem;
  }

  & .order-btn{
    padding: 1rem 2.25rem 0.75rem;
  }
  .checkout-step-title{
    margin:{
      bottom: 2.875rem;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}
.checkout-step-title{
  border-bottom: 1px solid $ft-divider;
  color: $accent-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 0.875rem;
    weight: normal;
  };
  padding-bottom: 1rem;
}


.checkout-step-3,
.checkout-step-2{
  .form-group{
    margin-bottom: 2rem;
  }
  .contact-textarea-input{
    height: 5.125rem;
  }
  .from-row-m {
    margin-top: 1.3rem;
  }
}

