.s-checkout-step{
  background-color: white;
  padding: 1.7rem 2.25rem 3.25rem 2.25rem;
  margin-bottom: 16.125rem;
  position: relative;

  @include media-breakpoint-down(xs){
    margin-bottom: 8rem;
  }

  & .order-btn{
    padding: 1rem 2.25rem 0.75rem;
  }
  .checkout-step-title{
    margin:{
      bottom: 2.875rem;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .search-box{
    background-color: $bg-color;
    border-radius: 5px;
    max-width: 100%;
    height: 46px;
  }
  .select-arrow{
    flex: 1;
    max-width: 100%;
    border: none;
  }
  .search-select{
    border: none;
    color: rgba($accent-text-color, 0.7);
    height: 100%;
    & > option{
      color: rgba($accent-text-color, 0.7);
    }
  }
  .inputCalendar{
    height: 46px;
    margin: 0;
    position: relative;
    &::-webkit-inner-spin-button,
    &::-webkit-datetime-edit-fields-wrapper{
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      color: transparent;
      background: none;
      z-index: 1;
    }
    &::after {
      content: '';
      display: block;
      width: 1.125rem;
      height: 1.25rem;
      position: absolute;
      right: 0.875rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.checkout-step-title{
  border-bottom: 1px solid $ft-divider;
  color: $accent-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 0.875rem;
    weight: normal;
  };
  padding-bottom: 1rem;
}

.profile,
.checkout-step-3,
.checkout-step-2{
  .form-group{
    margin-bottom: 2rem;
  }
  .contact-textarea-input{
    height: 5.125rem;
  }
  .from-row-m {
    margin-top: 1.3rem;
  }
}

