.s-slider{}

.s-vacancy{
  margin-bottom: 2rem;
}

.s-advertisement{
  margin-top: 1.875rem;

  @include media-breakpoint-down(lg) {
    margin-top: 2.625rem;
  }
}

.s-sl-product{
  padding: 2rem 0 3.125rem 0;
}
.s-sl-product.odd{
  background-color: $white;
}
.s-sl-product.even{
  background-color: $bg-color;

  .sl-product--list .sl-product-link::after{
    background-color: $bg-color;
  }
}

//s-also-see-slider in product-details.html
.s-also-see-slider.even{
  margin-bottom: 5.875rem;
}

.product-list-wrapper.even,
.s-also-see-slider.even{
  .sl-product--list .sl-product-link::after{
    background-color: $bg-color;
  }
}

// details-section  in product-details.html
.details-section{
  background-color: $white;
  position: relative;
  padding-bottom: 6rem;
  margin-bottom: 2.8125rem;
}
.s-checkout-step.even::after,
.article-content.even::after,
.cart-table-wrapper.even::after,
.login-wrap.even::after,
.article-content.even::after,
.details-section.even::after{
  content: '';
  background-image: url(../../assets/img/icons/Rectangle-border-bottom.png);
  background-repeat: repeat-x;
  height: 9px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $bg-color;
}

//s-cart
.s-cart{
  padding-bottom: 5rem;
}

.article-content-wrap{
  padding:{
    bottom: 7.125rem;
    left: 1.125rem;
  }

  @include media-breakpoint-down(sm){
    padding-left: 0;
  }
}
