.slick-slider * {
  min-height: 0;
  min-width: 0;
}


.main-slider-wrapper{
  background-color: $white;
  height: 30.875rem;
  // width: 888px;
  max-width: 878px;
  margin:{
    top: 12px;
    left: auto;
  }

  @include media-breakpoint-down(lg){
    max-width: 100%;
  }
  @include media-breakpoint-down(md){
    height: 100%;
  }
}


.main-slider{
  .main-slider-box{
    display: flex;
    //align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 3.375rem;

    @include media-breakpoint-down(sm){
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
  &-left{
    display: flex;
    margin-top: 6.25rem;
    height: 240px;
    //width: 444px;
    width: 57.66%;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(sm){
      order: 2;
      margin-top: 10px;
      height: auto;
      min-height: 180px;
      text-align: center;
    }

    .h2{
      color: rgba($accent-text-color, .5);
      font:{
        family: $HelveticaNeueLTGEO-65Medium;
        size: 0.9375rem;
      }
      margin-bottom: 0;

      @include media-breakpoint-down(md){
        font-size: 0.8rem;
      }
    }
    .h3{
      color: $accent-text-color;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 2.0625rem;
      }

      @include media-breakpoint-down(md){
        font-size: 1.4rem;
      }
    }
    &--in{
      height: 55px;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm){
       justify-content: center;
      }
    }
  }
  &-img{
    height: 30.875rem;
    // width: 265px;
    width: 34.415%;
    margin-left: auto;

    @include media-breakpoint-down(md){
      width: 250px;
      height: auto;
    }
    @include media-breakpoint-down(sm){
      order: 1;
      margin: auto;
    }

    & img{
      margin: auto;
    }
  }
}
.main-slider-points{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 1.8125rem;
  }
  margin-left: 1.875rem;
  position: relative;

  &::after{
    content: '';
    background-color: #A7A7A7;
    height: 20px;
    right: -1.5rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    width: 3px;
    @include media-breakpoint-down(md){
      height: 50%;
    }
  }

  @include media-breakpoint-down(md){
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }

}


// .vacancy-slider
.vacancy-slider-wrapper{
  //padding: 33px 35px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(sm){
    flex-direction: column;
  }

  &--left{
    align-items: center;
    display: flex;
    // max-width: 167px;
    width: 14.44%;
    justify-content: space-between;
    padding-left: 2.1875rem;

    @include media-breakpoint-down(xl){
      width: 25.44%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      justify-content: center;
      padding: 1.5rem 0 0 0;
    }

    .vacancy-title{
      color: $lighter-blue;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 1rem;
      }
      margin: 0;
    }

  }
  &--right{
    // max-width: 60.625rem;
    width: 85.47%;
    padding-left: 2.0625rem;

    @include media-breakpoint-down(xl){
      width: 74.47%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      padding: 1rem;
    }
  }
}

.vacancy-slider-in{
  &--date {
    display: inline-block;
    color: $accent-text-color;
    font: {
      family: $HelveticaNeueLTGEO-65Medium;
      size: 0.875rem;
    }

    @include media-breakpoint-down(xs){
      display: block;
      margin-bottom: 5px;
    }
  }

  &--desc{
    display: inline-block;
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
    }
    margin-left: 2.1875rem;
    margin-bottom: 0;

    @include media-breakpoint-down(xs){
      display: block;
      margin: 0;
    }
  }

}


.triangle-divider {
  height: 4.9375rem;
  position: relative;
  margin-left: 2.5rem;

  @include media-breakpoint-down(sm){
    display: none;
  }

  &--vertical {
    height: 4.9375rem;
    border-left: 1px solid rgba(#707070, .16);
    width: 0;
    z-index: 2;
  }
  &--horizontal {
    background-color: white;
    border: 1px solid rgba(112, 112, 112, 0.16);
    border-left-color: white;
    border-top-color: white;
    height: 1.10625rem;
    width: 1.10625rem;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    left: -2px;
    top: 50%;
    z-index: 1;
  }

}


// .sl-product
.sl-product-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

}
.sl-product-title{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-75Bold;
    size: 1.625rem;
  }
  margin: 0;

  @include media-breakpoint-down(md){
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm){
    font-size: 1rem;
  }
}

.sl-product{

  &--list{
    // margin-left: 1.875rem;
    // max-width: 16.875rem;
    // min-height: 27.4375rem;
    position: relative;

    .sl-product-link{
      border-top: 1px solid $sl-border;
      border-left: 1px solid $sl-border;
      border-right: 1px solid $sl-border;
      background-color: $white;
      display: block;
      margin-right: 30px;
      padding: 1.5625rem 2.5rem;
      position: relative;

      @include media-breakpoint-down(md){
        margin: 0 15px;
      }

      @include media-breakpoint-down(xs){
        margin: 0;
      }

      &::after{
        content: '';
        background: {
          image: url("../../assets/img/icons/Rectangle-border-bottom.png");
          repeat: repeat-x;
        };
        height: 9px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left:0;
      }
    }

    .sl-product-sale{
      align-items: center;
      background-color: $orange-sale-color;
      border-radius: 50%;
      color: $white;
      display: flex;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 0.875rem;
      }
      justify-content: center;
      height: 3.0625rem;
      width: 3.0625rem;
      position: absolute;
      top: 0.8125rem;
      right: 1.25rem;
    }
  }

  .sl-product-img{
    &--current{
      margin: auto;
      transition: transform ease-in-out 500ms;

      &:hover{
        transform: scale(0.95);
      }
    }
  }
}


.sl-product-block{
  margin: 0;
}

.sl-product-desc{
  &--title{
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
    }
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:{
      top: 12px;
      bottom: 0;
    }

    @include media-breakpoint-between(sm, md){
      font-size: .8rem;
    }
  }
  &--author{
    color: $light-silver-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 0.75rem;
    }

  }
  &--price{
    align-items: center;
    display: flex;
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1.5625rem;
    }
    justify-content: space-between;

    @include media-breakpoint-between(sm, md){
      font-size: 1rem;
    }

    &--original{
      position: relative;

      &::after{
        content: '';
        background-color: $accent-text-color;
        height: 0.9rem;
        right: -0.5rem;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        z-index: 100;
        width: 2px;
      }
    }

    &--sale{
      color: $line-through;
      display: inline-block;
      font:{
        family: $HelveticaNeueLTGEO-65Medium;
        size: 1.25rem;
      }
      margin: 0 8px;
      padding: 0 8px;
      position: relative;

      &::after{
        content: '';
        background-color: $line-through;
        height: 0.75rem;
        right: 2px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        z-index: 100;
        width: 1px;
      }
      &::before{
        content: "";
        position: absolute;
        border-top: 1px solid $line-through;
        top: 50%;
        width: 120%;
        left: 0;
      }
    }

  }

}

.sl-tabs {
  padding: 0;
  display: flex;
  margin: 0;
  & > li a{
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
    }
    transition: color ease-in-out 200ms;

    @include media-breakpoint-down(md){
      font-size: .9rem;
    }
  }

  & > li.active a{
    color: $lighter-blue;
  }
  & > li+li{
    margin-left: 2rem;

    @include media-breakpoint-down(md){
      margin-left: 1.2rem;
    }
    @include media-breakpoint-down(xs){
      margin: 0;
    }
  }
  & > li{
    @include media-breakpoint-down(xs){
      text-align: right;
    }
  }
  & > li:hover a{
    color: $lighter-blue;
  }

  @include media-breakpoint-down(xs){
    flex-direction: column;
    margin: 0;
  }
}



.sl-tabs-content{
/*  position: relative;
  height: 416px;
  overflow: hidden;*/
  &--in{
    //position: absolute;
    //left: 0;
    //top: 0;
    //display: none;
    visibility: hidden;
    height: 0;
  }
  &--in.active{
   // display: block;
    visibility: visible;
    height: 100%;
  }

}


