.slick-slider * {
  min-height: 0;
  min-width: 0;
}

.main-slider-wrapper{
  background-color: $white;
  height: 30.875rem;
  max-width: 100%;
  margin:{
    top: 12px;
    left: auto;
  }
  @include media-breakpoint-down(xl){
    margin-left: 12px;
  }
  @include media-breakpoint-down(md){
    height: 100%;
    margin-left: 0;
  }
}


.main-slider{
  .main-slider-box{
    display: flex;
    //align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 3.375rem;

    @include media-breakpoint-down(sm){
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
  &-left{
    display: flex;
    margin-top: 6.25rem;
    height: 240px;
    //width: 444px;
    width: 57.66%;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(sm){
      order: 2;
      margin-top: 10px;
      height: auto;
      min-height: 180px;
      text-align: center;
    }
    @include media-breakpoint-down(sm){
      min-height: 150px;
      width: 85%;
    }

    .h2{
      color: rgba($accent-text-color, .5);
      font:{
        family: $HelveticaNeueLTGEO-65Medium;
        size: 0.9375rem;
        weight: normal;
      }
      margin-bottom: 0;

      @include media-breakpoint-down(md){
        font-size: 0.8rem;
      }
    }
    .h3{
      color: $accent-text-color;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 2.0625rem;
        weight: bold;
      }

      @include media-breakpoint-down(md){
        font-size: 1.4rem;
      }
      @include media-breakpoint-down(md){
        font-size: 1rem;
      }
    }
    &--in{
      height: 55px;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm){
       justify-content: center;
      }
    }
  }
  &-img{
    height: 30.875rem;
    // width: 265px;
    width: 34.415%;
    margin-left: auto;

    @include media-breakpoint-down(md){
      width: 250px;
      height: auto;
    }
    @include media-breakpoint-down(sm){
      order: 1;
      margin: auto;
    }
    @include media-breakpoint-down(xs){
      width: 6.875rem;
    }
    & img{
      margin: auto;
    }
  }
}
.main-slider-points{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 1.8125rem;
    weight: normal;
  }
  margin-left: 1.875rem;
  position: relative;

  &::after{
    content: '';
    background-color: #A7A7A7;
    height: 20px;
    right: -1.5rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    width: 3px;
    @include media-breakpoint-down(md){
      height: 50%;
    }
  }

  @include media-breakpoint-down(md){
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }

}


// .vacancy-slider
.vacancy-slider-wrapper{
  //padding: 33px 35px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(sm){
    flex-direction: column;
  }

  &--left{
    align-items: center;
    display: flex;
    // max-width: 167px;
    width: 14.44%;
    justify-content: space-between;
    padding-left: 2.1875rem;

    @include media-breakpoint-down(xl){
      width: 25.44%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      justify-content: center;
      padding: 1.5rem 0 0 0;
    }

    .vacancy-title{
      color: $lighter-blue;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 1rem;
        weight: bold;
      }
      margin: 0;
    }

  }
  &--right{
    // max-width: 60.625rem;
    width: 85.47%;
    padding-left: 2.0625rem;

    @include media-breakpoint-down(xl){
      width: 74.47%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      padding: 1rem;
    }
  }
}

.vacancy-slider-in{
  &--date {
    display: inline-block;
    color: $accent-text-color;
    font: {
      family: $HelveticaNeueLTGEO-65Medium;
      size: 0.875rem;
      weight: normal;
    }

    @include media-breakpoint-down(xs){
      display: block;
      margin-bottom: 5px;
    }
  }

  &--desc{
    display: inline-block;
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
      weight: normal;
    }
    margin-left: 2.1875rem;
    margin-bottom: 0;

    @include media-breakpoint-down(xs){
      display: block;
      margin: 0;
    }
  }

}


.triangle-divider {
  height: 4.9375rem;
  position: relative;
  margin-left: 2.5rem;

  @include media-breakpoint-down(sm){
    display: none;
  }

  &--vertical {
    height: 4.9375rem;
    border-left: 1px solid rgba(#707070, .16);
    width: 0;
    z-index: 2;
  }
  &--horizontal {
    background-color: white;
    border: 1px solid rgba(112, 112, 112, 0.16);
    border-left-color: white;
    border-top-color: white;
    height: 1.10625rem;
    width: 1.10625rem;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    left: -2px;
    top: 50%;
    z-index: 1;
  }

}


// .sl-product
.sl-product-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

}
.sl-product-title{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-75Bold;
    size: 1.625rem;
    weight: bold;
  }
  margin: 0;

  @include media-breakpoint-down(md){
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm){
    font-size: 1rem;
  }
}

.sl-product{
  .slick-slide {
    margin: 0 15px;
  }
  .slick-list {
    margin: 0 -15px;
  }
  &--list{
    position: relative;

    .sl-product-link{
      border-top: 1px solid $sl-border;
      border-left: 1px solid $sl-border;
      border-right: 1px solid $sl-border;
      background-color: $white;
      display: block;
      padding: 1.5625rem 2.5rem;
      position: relative;
      height: 27.4375rem;
      @include media-breakpoint-down(sm){
        height: 18rem;
        min-height: 17rem;
      }
      @include media-breakpoint-down(xs){
        height: auto;
      }
    }

    .sl-product-sale{
      align-items: center;
      background-color: $orange-sale-color;
      border-radius: 50%;
      color: $white;
      display: flex;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 0.875rem;
        weight: bold;
      }
      justify-content: center;
      height: 3.0625rem;
      width: 3.0625rem;
      position: absolute;
      top: 0.8125rem;
      right: 1.25rem;
    }
  }
}


.sl-product-img{
  display: block;
  //max-width: 100%;
  width: 100%;
  height: 17.4375rem;

  max-width: 18.4375rem;
  max-height: 27.75rem;

  @include media-breakpoint-down(sm){
    height: 11.4375rem; // add
  }
  &--current{
    margin: auto;
    max-height: 17.4375rem;
    display: table-cell;
    text-align: center;
    transition: transform ease-in-out 500ms;

    &:hover{
      transform: scale(0.95);
    }

    @include media-breakpoint-down(sm){
      max-height: 9.0625rem; // add
    }
  }
}
.sl-product-block{
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.sl-product-desc{
  width: 100%;
  height: 5.75rem; // add
  &--title{
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
      weight: normal;
    }
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:{
      top: 12px;
      bottom: 0;
    }

    @include media-breakpoint-between(sm, md){
      font-size: .8rem;
    }
  }
  &--author{
    color: $light-silver-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 0.75rem;
      weight: normal;
    }

  }
  &--price{
    align-items: center;
    display: flex;
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1.5rem;
      weight: normal;
    }
    justify-content: space-between;

    @include media-breakpoint-between(sm, md){
      font-size: 1rem;
    }

    &--original{
      position: relative;

      @include media-breakpoint-down(xs){
        font-size: 1rem;
      }

      &::after{
        content: '';
        background-color: $accent-text-color;
        //height: 0.9rem;
        height: 38.47%;
        right: -0.5rem;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        z-index: 11;
        width: 2px;
      }
    }

    &--sale{
      color: $line-through;
      display: inline-block;
      font:{
        family: $HelveticaNeueLTGEO-65Medium;
        size: 1.25rem;
        weight: normal;
      }
      margin: 0 8px;
      padding: 0 8px;
      position: relative;

      @include media-breakpoint-down(xs){
        font-size: 0.9rem;
      }

      &::after{
        content: '';
        background-color: $line-through;
        height: 38.47%;
        right: 2px;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        z-index: 100;
        width: 1px;
      }
      &::before{
        content: "";
        position: absolute;
        border-top: 1px solid $line-through;
        top: 50%;
        width: 120%;
        left: 0;
      }
    }

  }

}

.sl-tabs {
  padding: 0;
  display: flex;
  margin: 0;
  & > li *{
    color: $accent-text-color;
    cursor: pointer;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
      weight: normal;
    }
    transition: color ease-in-out 200ms;

    @include media-breakpoint-down(md){
      font-size: .9rem;
    }
  }

  & > li > *.active {
    color: $lighter-blue;
  }
  & > li+li{
    margin-left: 2rem;

    @include media-breakpoint-down(md){
      margin-left: 1.2rem;
    }
    @include media-breakpoint-down(xs){
      margin: 0;
    }
  }
  & > li{
    @include media-breakpoint-down(xs){
      text-align: right;
    }
  }
  & > li:hover *{
    color: $lighter-blue;
  }

  @include media-breakpoint-down(xs){
    flex-direction: column;
    margin: 0;
  }
}

.sl-tabs-content{
  &--in{
    visibility: hidden;
    height: 0;
  }
  &--in.active{
    visibility: visible;
    height: 100%;
  }

}

// slider-syncing-products
.slider-syncing-products{
  padding: 1.6875rem 0 1.6875rem 1.6875rem;
  @include media-breakpoint-down(sm){
    padding: 1.6875rem;
  }
  .slider-for{
    .sl-product-block{
      height: auto;
    }
    .sl-product-img{
      height: auto;
    }
    .sl-product--list.in .sl-product-link{
      border: 1px solid rgba($ft-divider, 0.18);
      cursor: pointer;
      margin: {
        bottom: 6px;
        right: 0;
      }
      padding: 3rem 7.25rem;
      height: 33.75rem;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(lg){
        padding: 0 20%;
      }
      @include media-breakpoint-down(md){
        height: 27rem;
      }
      @include media-breakpoint-down(xs){
        height: 25rem;
        padding: 0 7%;
      }

      &::after{
        content: unset;
      }

      .sl-product-img--current{
        //min-width: 12.5rem;
        max-height: 27.75rem;

        @include media-breakpoint-down(md){
          // min-width: 10.5rem;
        }
      }
    }
  }
  .slider-nav{
    .slick-slide {
      margin: 0 6px;
    }
    .slick-list {
      margin: 0 -6px;
    }
    .sl-product--list.in .sl-product-link{
      border: 1px solid rgba($ft-divider, 0.18);
      cursor: pointer;
      padding: 0.8125rem 1.875rem;
      height: 98px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(lg){
        padding: 0.2rem 1.4rem;
      }
      @include media-breakpoint-down(md){
        padding: 0.2rem 0.7rem;
      }
      @include media-breakpoint-down(sm){
        padding: 30%;
        min-height: 100%;
      }

      &::after{
        content: unset;
      }

      .sl-product-img--current{
        min-width: 2.125rem;
      }
    }
  }
}


.sl-product-wrapper{
  .sl-product--list .sl-product-link{
    @include media-breakpoint-only(md){
      height: 21.4375rem;
    }
  }
}