.main-slider-wrapper{
  background-color: $white;
  height: 30.875rem;
  // width: 888px;
  max-width: 878px;
  margin:{
    top: 12px;
    left: auto;
  }

  @include media-breakpoint-down(lg){
    max-width: 100%;
  }
  @include media-breakpoint-down(md){
    height: 100%;
  }
}


.main-slider{
  .main-slider-box{
    display: flex;
    //align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 3.375rem;

    @include media-breakpoint-down(sm){
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }
  &-left{
    display: flex;
    margin-top: 6.25rem;
    height: 240px;
    //width: 444px;
    width: 57.66%;
    flex-direction: column;
    justify-content: space-between;

    @include media-breakpoint-down(sm){
      order: 2;
      margin-top: 10px;
      height: auto;
      min-height: 180px;
      text-align: center;
    }

    .h2{
      color: rgba($accent-text-color, .5);
      font:{
        family: $HelveticaNeueLTGEO-65Medium;
        size: 0.9375rem;
      }
      margin-bottom: 0;

      @include media-breakpoint-down(md){
        font-size: 0.8rem;
      }
    }
    .h3{
      color: $accent-text-color;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 2.0625rem;
      }

      @include media-breakpoint-down(md){
        font-size: 1.4rem;
      }
    }
    &--in{
      height: 55px;
      display: flex;
      align-items: center;

      @include media-breakpoint-down(sm){
       justify-content: center;
      }
    }
  }
  &-img{
    height: 30.875rem;
    // width: 265px;
    width: 34.415%;
    margin-left: auto;

    @include media-breakpoint-down(md){
      width: 250px;
    }
    @include media-breakpoint-down(sm){
      order: 1;
      margin: auto;
    }

  }
}
.main-slider-points{
  color: $accent-text-color;
  font:{
    family: $HelveticaNeueLTGEO-65Medium;
    size: 1.8125rem;
  }
  margin-left: 1.875rem;
  position: relative;

  &::after{
    content: '';
    background-color: #A7A7A7;
    height: 20px;
    right: -1.5rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 100;
    width: 3px;
    @include media-breakpoint-down(md){
      height: 50%;
    }
  }

  @include media-breakpoint-down(md){
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }

}


// .vacancy-slider

.vacancy-slider-wrapper{
  //padding: 33px 35px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(sm){
    flex-direction: column;
  }

  &--left{
    align-items: center;
    display: flex;
    // max-width: 167px;
    width: 14.44%;
    justify-content: space-between;
    padding-left: 2.1875rem;

    @include media-breakpoint-down(xl){
      width: 25.44%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      justify-content: center;
      padding: 1.5rem 0 0 0;
    }

    .vacancy-title{
      color: $lighter-blue;
      font:{
        family: $HelveticaNeueLTGEO-75Bold;
        size: 1rem;
      }
      margin: 0;
    }

  }
  &--right{
    // max-width: 60.625rem;
    width: 85.47%;
    padding-left: 2.0625rem;

    @include media-breakpoint-down(xl){
      width: 74.47%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
      padding: 1rem;
    }
  }
}

.vacancy-slider-in{
  &--date {
    display: inline-block;
    color: $accent-text-color;
    font: {
      family: $HelveticaNeueLTGEO-65Medium;
      size: 0.875rem;
    }

    @include media-breakpoint-down(xs){
      display: block;
      margin-bottom: 5px;
    }
  }

  &--desc{
    display: inline-block;
    color: $accent-text-color;
    font:{
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1rem;
    }
    margin-left: 2.1875rem;
    margin-bottom: 0;

    @include media-breakpoint-down(xs){
      display: block;
      margin: 0;
    }
  }

}


.triangle-divider {
  height: 4.9375rem;
  position: relative;
  margin-left: 2.5rem;

  @include media-breakpoint-down(sm){
    display: none;
  }

  &--vertical {
    height: 4.9375rem;
    border-left: 1px solid rgba(#707070, .16);
    width: 0;
    z-index: 2;
  }
  &--horizontal {
    background-color: white;
    border: 1px solid rgba(112, 112, 112, 0.16);
    border-left-color: white;
    border-top-color: white;
    height: 1.10625rem;
    width: 1.10625rem;
    transform: rotate(-45deg) translateY(-50%);
    position: absolute;
    left: -2px;
    top: 50%;
    z-index: 1;
  }

}