.router-links-wrap{
  padding: 0.8rem 0 1.38rem 0;

  .cart-title{
    color: $accent-text-color;
    font: {
      family: $HelveticaNeueLTGEO-65Medium;
      size: 1.375rem;
    }
    margin: 0;
  }

}
.router-menu{
  display: inline-flex;
  margin: 0;
  padding: 0;
  &--li{
    position: relative;
    margin: 0 12.5px;;
    &.active > a{
      color: $accent-text-color;
    }
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.router-link{
  color: $router-link;
  font: {
    family: $HelveticaNeueLTGEO-65Medium;
    size: 0.875rem;
  }
  transition: color ease-in-out 200ms;
  &:hover{
    color: $accent-text-color;
  }
}

.router-arrow{
  &::before{
    content: '';
    display: block;
    background: url("../../assets/img/icons/silver-arrow.svg") no-repeat;
    height: 4.91px;
    width: 9.82px;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: rotate(-90deg) translateY(-50%);
  }
}

