.checkout-step-3{
  .search-select{
    & > option{
      @include media-breakpoint-down(xs){
        font-size: 0.6rem;
        width: 100%;
      }
    }

    @include media-breakpoint-down(xs){
      font-size: 0.7rem;
      text-overflow: ellipsis;
      width: 100%;
      padding-right: 2rem;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .cart-table-footer--sum{
    font-size: 0.875rem;
  }
  .first.form-group{
    margin-bottom: 1.5625rem;
  }
}


.inputCalendar.one{
  &::after {
    background: url('../../assets/img/icons/input-calendar.svg') no-repeat;
  }
}
.inputCalendar.two{
  &::after {
    background: url('../../assets/img/icons/profile-calendar.svg') no-repeat;
  }
}