.checkout-step-3,
.profile{
  .input-group-text {
    border: none;
    border-radius: 5px;
    background-color: $bg-color;
    margin-top: 2px;
    height: 2.6875rem;
  }
}
.profile{
  .from-row-m{
    margin-top: 2.85rem;
  }
}
.aside-menu-wrap.for-profile{
  @include media-breakpoint-down(sm){
    margin-bottom: 2rem;
  }
}