.profile-order-history-details{
  margin-bottom: 16.125rem;

  @include media-breakpoint-down(xs){
    margin-bottom: 8rem;
  }
  .cart-table{
    min-width: 100%;
  }
  .cart-table-footer--top{
    width: auto;
  }
  .cart-table tbody tr:last-child .cart-table--td{
    padding-right: 3.6rem;

    @include media-breakpoint-down(lg){
      padding-right: 2.1rem;
    }
    @include media-breakpoint-down(md){
      padding-right: 1.2rem;
    }
    @include media-breakpoint-down(sm){
      padding-right: 2.8rem;
    }

  }
  .price.big.sum,
  .price.big{
    @include media-breakpoint-down(md){
      font-size: 1.25rem;
    }
    @include media-breakpoint-down(xs){
      font-size: 0.8rem;
    }
  }
  .price.medium{
    @include media-breakpoint-down(md){
      font-size: 1rem;
    }
    @include media-breakpoint-down(xs){
      font-size: 0.7rem;
    }
  }
  .cart-table--th{
    @include media-breakpoint-down(md){
      font-size: 0.8rem;
    }
    @include media-breakpoint-down(sm){
      font-size: 0.75rem;
    }
  }
  .cart-product-type{
    @include media-breakpoint-down(md){
      font-size: 0.75rem;
    }
    @include media-breakpoint-down(sm){
      font-size: 0.6rem;
    }
  }
  .cart-product-title{
    @include media-breakpoint-down(md){
      font-size: 0.5rem;
    }
    @include media-breakpoint-down(sm){
      font-size: 0.4rem;
    }
  }
  .cart-table-points{
    @include media-breakpoint-down(md){
      min-width: 4.5rem;
      height: 1.77rem;
    }
    @include media-breakpoint-down(sm){
      min-width: 4rem;
      height: 1.4rem;
    }
    @include media-breakpoint-down(xs){
      min-width: 2.2rem;
      display: flex;
      flex-direction: column;
      height: auto;
      width: 2.2rem;
      margin: auto;
    }
    & > span{
      @include media-breakpoint-down(md){
        height: 1.5rem;
      }
      @include media-breakpoint-down(sm){
        height: 1.3rem;
      }
    }
    &--aside{
      @include media-breakpoint-down(md){
        width: 1.5rem;
        font-size: 1rem;
      }
      @include media-breakpoint-down(sm){
        width: 1.3rem;
        font-size: 0.7rem;
      }
    }
    &--center{
      @include media-breakpoint-down(md){
        min-width: 1.5rem;
        font-size: 0.78rem;
      }
      @include media-breakpoint-down(sm){
        min-width: 1.3rem;
        font-size: 0.7rem;
      }
      @include media-breakpoint-down(xs){
        width: 98%;
        overflow-x: scroll;
        font-size: 0.7rem;
        height: 1.7rem !important;
      }
    }

  }

}