/*HelveticaNeueLTGEO*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-25UltLt';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-25UltLt.eot');
  src: local('☺'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-25UltLt.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-25UltLt.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-25UltLt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeueLTGEO-35Thin*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-35Thin';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-35Thin.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-35Thin.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-35Thin.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-35Thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*HelveticaNeueLTGEO-45Light*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-45Light';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-45Light.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-45Light.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-45Light.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-45Light.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/*HelveticaNeueLTGEO-55Roman*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-55Roman';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-55Roman.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-55Roman.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeueLTGEO-65Medium*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-65Medium';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-65Medium.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-65Medium.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-65Medium.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-65Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeueLTGEO-75Bold*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-75Bold';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-75Bold.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-75Bold.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-75Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*HelveticaNeueLTGEO-85Heavy*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-85Heavy';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-85Heavy.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-85Heavy.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-85Heavy.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-85Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*HelveticaNeueLTGEO-95Black*/
@font-face {
  font-family: 'HelveticaNeueLTGEO-95Black';
  src: url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-95Black.eot');
  src: local('☺'), url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-95Black.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-95Black.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueLTGEO/HelveticaNeueLTGEO-95Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
