.hamburger-top{
  position: absolute;
  right: 0;
  top: 25px;
  display: none;
  @include media-breakpoint-down(lg){
    display: block;
  }
}
#navigation{
  @include media-breakpoint-down(lg){
    display: none;
  }
}

.is-red{
  background-color: #FF1414;
}
.is-orange{
  background-color: #FFAC19;
}
.is-green{
   background-color: #74C33B;
 }